:root {
    --font-color: #46494b;
    --field-background-color-hover: #ededee;
    --border-color: #555555;
    --font: 'Poppins', sans-serif;
    --box-shadow: 0 10px 20px -2px rgb(214, 214, 214);
    --white: #ffffff;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--white);
    color: var(--font-color);
    font-family: var(--font);
    line-height: 1.6;
}

h1 {
    line-height: 1.2;
}

button {
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
}

/* TITLE */
.header {
    padding: 30px;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    color: var(--font-color);
}

.title {
    font-size: 50px;
    text-align: center;
}

/* MAIN */
.main {
    padding: 0 20px;
}

.message {
    padding: 30px 0;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 364px;
    height: 364px;
    border: 2px solid var(--border-color);
    margin: 0px auto;
}

.field {
    width: 120px;
    height: 120px;
    border: 1px solid var(--border-color);
    font-size: 70px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.field:hover {
    background-color: var(--field-background-color-hover);
}

.center {
    display: flex;
    justify-content: center;
    padding: 60px;
}

.restart-button {
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    background-color: var(--font-color);
    color: var(--white);
    font-size: 20px;
}

.restart-button:hover {
    transform: scale(1.1);
}


.restart-button:active {
    transform: scale(1);
}